/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

#wpgf_login_area {
    float: left;
    width: 100%;
    clear: both;
    margin: 10px 0 10px 0;
}

#wpgf_admin .wpgf_admin_btn {
    display: block;
    float: left;
    clear: both;
    padding: 0 21px 0 160px;
    height: 47px;
    line-height: 47px;
    background: #386793 url(../img/instagram-logo.png) no-repeat 16px 11px;
    color: #e9eef3;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}